# Получите токен у @BotFather
BOT_TOKEN=8840632762:AAHq0-Z-le94StBXiuanXgoGQ9eM7Zht0Fw

# Username бота без @ (для генерации ссылок)
BOT_USERNAME=picksmapsmeta_bot

# ID Telegram-пользователей-админов через запятую
ADMIN_IDS=1098436562

# URL где доступен Mini App (HTTPS в проде, localhost для dev через ngrok)
WEBAPP_URL=http://localhost:5173

# Порт сервера
PORT=3000
